<a href="https://colab.research.google.com/github/mjunho20/python/blob/main/python0321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.print() 서식 출력

In [ ]:
print("%d" % 123)   #일반적인 123 출력
print("%5d" % 123)   #5자리 로 123을 출력 하기때문에 앞에 빈칸 2개가 생김
print("%05d" % 123)   #5자리로 출력하되 빈칸은 0으로 채움

print("%f" % 123.45)       #소수의 일반적인 출력
print("%7.1f" % 123.45)   #7자리로 출력하고 소수점 1번째까지만 출력 : 앞에 빈칸이 생김
print("%7.3f" % 123.45)    # 7자리로 출력하고 소수점 세번째까지

print("%s" % "대한민국")        #서식 출력 
print("%8s" % "대한민국" )     #8자리 서식 출력: 앞에 빈칸 생김

123
  123
00123
123.450000
  123.5
123.450
대한민국
    대한민국

#Format 함수: 순서 지정 가능

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))        # 순서대로 0번째 1번쨰 2번째 출력하는 방식 : 순서와 출력방식 입력

123   456 00789

In [ ]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))         #  2,1,0 순이라 순서가 바뀌어서 출력됨

789   456 00123

# 서식 출력

In [ ]:
print("\n줄바꿈\n연습입니다.")    # 줄바꿈

줄바꿈
연습입니다.

In [ ]:
print("\t탭키\t연습")     # 띄어쓰기

	탭키	연습

In [ ]:
print("글자가 \"강조\"되는 효과1")
print("글자가 \"강조\"되는 효과2")     #\"강조하고싶은문자\"
print("역슬레시 3개 출력 \\\\\\")         #역슬래시\를 3개 출력하기 위해선 6개가 필요함
print(r"\n \t \" \\ \' 를 그대로 출력")      #역슬래시를 그대로 출력하고 싶을때는 앞에 r이 들어감, 위처럼 여러개 쓸 필요없음

글자가 "강조"되는 효과1
글자가 "강조"되는 효과2
역슬레시 3개 출력 \\\
\n \t \" \\ \' 를 그대로 출력

# 관계 연산자
* and = 둘다참이여야 참
* or = 둘중 하나만 참이어도 참
* not = 참이면 거짓,거짓이면 참

In [ ]:
a,b = 10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)       # !=는 같지 않다를 의미함

False True False True False True

# 논리 연산자

In [ ]:
a = 99
print((a>100) and (a<200))     #둘중 하나가 거짓이기때문에 false
print((a>100) or (a<200))      #둘중 하나가 참이기때문에 true
print(not(a==100))            # 괄호안이 거짓이기때문에 true

False
True
True

In [ ]:
if(123):                           #if()뒤에 : 그리고 엔터로 줄바꾸기
  print("참이면 보입니다.")
if(0):
  print("거짓이면 보입니다.")

참이면 보입니다.

### 퀴즈2 숫자 입력을 받아 동전으로 바꿔주는 프로그램
###(500원, 100원, 50,원 10원) 1원 단위는 거스름 돈으로 출력

In [ ]:
# 변수 bill, c500 , c100, c50, c10
bill,c500,c100,c50,c10=0,0,0,0,0               # 변수를 0으로 초기화
bill = int(input("금액을 입력해주십시오."))      
c500 = bill//500     #몫
bill %=500    #bill = bill%500
c100 = bill//100
bill %=100
c50 = bill//50
bill %=50
c10 = bill//10
bill %=10
print("500원짜리 : %d개" % c500)
print("100원짜리 : %d개" % c100)
print("50원짜리 : %d개" % c50)
print("10원짜리 : %d개" % c10)
print("잔돈 %d원" %bill)

금액을 입력해주십시오.1818
500원짜리 : 3개
100원짜리 : 3개
50원짜리 : 0개
10원짜리 : 1개
잔돈 8원

# 조건문

In [ ]:
a=200
  if(a<100):
    print("100보다 작다.")
  else :
    print("100보다 크다.")
  print("프로그램 종료")

In [ ]:
a=int(intput("정수를 입력하세요")
if(a % 2 == 0):
   print("짝수")
else
  print("홀수")

In [ ]:
a = 40
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

a<50

In [ ]:
fruit = ['사과','배','감','포도']
fruit.append('딸기')  # 딸기를 추가
if '딸기' in fruit :     #딸기가 있으면 출력
  print("딸기가 있습니다.")
else:
  print("딸기가 없습니다")
print(fruit)

딸기가 있습니다.
['사과', '배', '감', '포도', '딸기']

In [ ]:
import random

number =[]
for num in range(0,10):
  number.append(random.randrange(0,10))
  print("생성된 리스트", number)

생성된 리스트 [1]
생성된 리스트 [1, 9]
생성된 리스트 [1, 9, 2]
생성된 리스트 [1, 9, 2, 5]
생성된 리스트 [1, 9, 2, 5, 1]
생성된 리스트 [1, 9, 2, 5, 1, 4]
생성된 리스트 [1, 9, 2, 5, 1, 4, 1]
생성된 리스트 [1, 9, 2, 5, 1, 4, 1, 3]
생성된 리스트 [1, 9, 2, 5, 1, 4, 1, 3, 7]
생성된 리스트 [1, 9, 2, 5, 1, 4, 1, 3, 7, 5]

# 반복문

In [ ]:
for i in range(0,3,1):    #시작값,끝값+1,증가값
 print("%d안녕하세요."% i)
 #print(i)  #반복 내용
print("반갑습니다.")

0안녕하세요.
1안녕하세요.
2안녕하세요.
반갑습니다.

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end="")
print("\n")
for i in range(1,9,1):
  print("\n%d" % i, end="")

12345678


1
2
3
4
5
6
7
8

In [ ]:
sum=0
for i in range(1,11,1):
  sum = sum+1
print("1~10까지 합계: %d" % sum)

#### Quiz3 : 숫자입력을 받아 1부터 입력된 숫자까지의 합 for문을 활요하여 출력하시오

In [ ]:
sum,num=0,0
num = int(input("숫자입력 : "))
for i in range(1,num+1,1):
  sum = sum+i
print("1~n까 지 합계: %d" % sum)

숫자입력 : 10
1~n까 지 합계: 55

#중첩 for 문

In [ ]:
m,n=0,0
for m in range(1,10,1) :
  for n in range(2,10,1):
    print("%d x %d = %2d \t" % (n,m,m*n), end='')
  print("")

2 x 1 =  2 	3 x 1 =  3 	4 x 1 =  4 	5 x 1 =  5 	6 x 1 =  6 	7 x 1 =  7 	8 x 1 =  8 	9 x 1 =  9
2 x 2 =  4 	3 x 2 =  6 	4 x 2 =  8 	5 x 2 = 10 	6 x 2 = 12 	7 x 2 = 14 	8 x 2 = 16 	9 x 2 = 18
2 x 3 =  6 	3 x 3 =  9 	4 x 3 = 12 	5 x 3 = 15 	6 x 3 = 18 	7 x 3 = 21 	8 x 3 = 24 	9 x 3 = 27
2 x 4 =  8 	3 x 4 = 12 	4 x 4 = 16 	5 x 4 = 20 	6 x 4 = 24 	7 x 4 = 28 	8 x 4 = 32 	9 x 4 = 36
2 x 5 = 10 	3 x 5 = 15 	4 x 5 = 20 	5 x 5 = 25 	6 x 5 = 30 	7 x 5 = 35 	8 x 5 = 40 	9 x 5 = 45
2 x 6 = 12 	3 x 6 = 18 	4 x 6 = 24 	5 x 6 = 30 	6 x 6 = 36 	7 x 6 = 42 	8 x 6 = 48 	9 x 6 = 54
2 x 7 = 14 	3 x 7 = 21 	4 x 7 = 28 	5 x 7 = 35 	6 x 7 = 42 	7 x 7 = 49 	8 x 7 = 56 	9 x 7 = 63
2 x 8 = 16 	3 x 8 = 24 	4 x 8 = 32 	5 x 8 = 40 	6 x 8 = 48 	7 x 8 = 56 	8 x 8 = 64 	9 x 8 = 72
2 x 9 = 18 	3 x 9 = 27 	4 x 9 = 36 	5 x 9 = 45 	6 x 9 = 54 	7 x 9 = 63 	8 x 9 = 72 	9 x 9 = 81